// COLORS
$white: #f2f2f2;
$black: #000000;
$orange: #f19400;
$purple: #8d2463;
$gray:#5f6066;
$light-gray: #dfdfdf;
$dark-gray: #151521;

// FONTS
$main-font: 'Roboto', sans-serif;
$second-font: 'Merriweather', serif;

// SCREEN
$tablet: 920px;
$mobile: 640px;
$bigScreen: 1430px;


body {
  font-family: $main-font;
  color: $black;
  background-color: $white;
  margin: 0;
  div, ul{
    margin: 0;
  }
}


.header-container {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), color-stop(80%, rgba(0, 0, 0, 0))), url('../img/header.jpg');
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 80%), url('../img/header.jpg');
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 80%), url('../img/header.jpg');
  background-image: linear-gradient(-270deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 80%), url('../img/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
}

.header-wrapper {
  width: 90%;
  min-height: 300px;
  max-width: 440px;
  padding: 100px 12%;
  @media screen and (max-width: $tablet) {
    padding: 80px 5%;
  }
  @media screen and (max-width: $mobile) {
    padding: 50px 5%;
  }
}

.header-navbar{
  width: 100%;
  padding-left: 10px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: transparent;
    .active-link {
      background: $orange; 
      &:hover:not(.active) {
        -webkit-filter: none;
                filter: none;
        cursor: default;
      }
    }
    li {
      background: $purple; 
      font-size: 13px;
      line-height: 20px;
      padding: 10px 20px;
      -webkit-transform: skewx(-30deg);
          -ms-transform: skewx(-30deg);
              transform: skewx(-30deg);
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      span {
      -webkit-transform: skewx(30deg);
          -ms-transform: skewx(30deg);
              transform: skewx(30deg);
      display: block;
      }
      &:hover{
        -webkit-filter: grayscale(20%);
                filter: grayscale(20%);
      }
      @media screen and (max-width: $tablet) {
        padding: 10px 15px;
        font-size: 12px;
      }
    }
  }
}

.active-article {
  display: block !important;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.header-text-preview {
  display:none;
  
  h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    margin: 15px auto;
    @media screen and (max-width: $mobile) {
      font-size: 34px;
      line-height: 38px;
    }
  }
  p {
    font-family: $second-font;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0;
    font-weight: 400;
    @media screen and (max-width: $mobile) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  a {
    font-style: italic;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 42px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    &:hover{
      color: $light-gray;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    @media screen and (max-width: $mobile) {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

/////SLIDER/////
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 0;
  height: 0;
}

.prev {
  left: 0;
  top: 0;
  border-left: 0px solid transparent;
  border-right: 80px solid transparent;
  border-top: 140px solid $dark-gray;
  @media screen and (max-width: $mobile) {
    border-top: 140px solid transparent;
  }
  p{
    position: absolute;
    top: -110px;
    left: 20px;
    font-size: 18px;
    color: $gray;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    @media screen and (max-width: $mobile) {
      top: -50px;
      left: 10px;
    }
  } 
}

.next {
  right: 0;
  bottom: 0;
  border-left: 80px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 140px solid $dark-gray;
  @media screen and (max-width: $mobile) {
    border-bottom: 140px solid transparent;
  }
  p{
    position: absolute;
    top: 100px;
    right: 20px;
    font-size: 18px;
    color: $gray;
    @media screen and (max-width: $mobile) {
      top: 35px;
      right: 10px;
    }
  } 
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/////////////////

.header-banner-black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(21, 21, 33, 0.9);
  max-width: 100vw;
  height: 180px;
  padding: 0px 30px;
  overflow: hidden;
  @media screen and (max-width: $mobile) {
    height: 200px;
  }
  div {
    width: 100%;
    min-height: 110px;
    position: relative;
    @media screen and (max-width: $mobile) {
      margin: 0px 0px 10px;
      transform: skew(-30deg);
    }
    .slider-element {
      width: 90%;
      -webkit-transform: skew(-30deg);
          -ms-transform: skew(-30deg);
              transform: skew(-30deg);
      padding: 0px 50px;
      border-right: 1px solid $gray;
      &:last-of-type {
        border-right: none;
      }
      div {
        -webkit-transform: skew(30deg);
            -ms-transform: skew(30deg);
                transform: skew(30deg);
      @media screen and (max-width: $mobile) {
        -webkit-transform: skew(0deg);
            -ms-transform: skew(0deg);
                transform: skew(0deg);
        margin-top: 10px;
      }
      }
      @media screen and (max-width: $tablet) {
        padding: 0px 20px 0px 50px;
      }
      @media screen and (max-width: $mobile) {
        -webkit-transform: skew(30deg);
            -ms-transform: skew(30deg);
                transform: skew(30deg);
        padding: 0px 10px;
      }
    }
    h4 {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 38px;
      color: $orange;
      font-weight: 400;
     
    }
    p {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      @media screen and (max-width: $tablet) {
        font-size: 16px;
      }
      @media screen and (max-width: $mobile) {
        font-size: 12px;
      }
    }
    a {
      font-style: italic;
      text-decoration: none;
      color: $gray;
      font-weight: 400;
      font-size: 16px;
      line-height: 42px;
      display: table-cell;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
     
      &:hover{
        color: $white;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
      }
      @media screen and (max-width: $tablet) {
        font-size: 14px;
      }
      
      @media screen and (max-width: $mobile) {
        font-size: 12px;
        padding: 8px 0px;
      }
    }
  }
}


.page-container {
  background: -webkit-gradient(linear,left bottom, left top,from(rgba(21,21,33,0.9)),to(rgba(21,21,33,0.9))), url('../img/map.png');
  background: -webkit-linear-gradient(bottom,rgba(21,21,33,0.9),rgba(21,21,33,0.9)), url('../img/map.png');
  background: -o-linear-gradient(bottom,rgba(21,21,33,0.9),rgba(21,21,33,0.9)), url('../img/map.png');
  background: linear-gradient(0deg,rgba(21,21,33,0.9),rgba(21,21,33,0.9)), url('../img/map.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  @media screen and (max-width: $tablet) {
    background-size: cover;
    background-position: center;
  }
  .polygon-container {
    background: $white;
    -webkit-clip-path: polygon(0 0, 72% 0, 61% 100%, 0 100%);
            clip-path: polygon(0 0, 72% 0, 61% 100%, 0 100%);
    @media screen and (max-width: $bigScreen) {
      -webkit-clip-path: polygon(0 0, 78% 0, 60% 100%, 0 100%);
              clip-path: polygon(0 0, 78% 0, 60% 100%, 0 100%);
    }
    @media screen and (max-width: $tablet) {
      -webkit-clip-path: none;
              clip-path: none;
    }
    .menu-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 70%;
      padding: 15px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      @media screen and (max-width: $tablet) {
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 5px;
      }
      div {
        width: 25%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 20px;
        @media screen and (max-width: $mobile) {
          width: 50%;
          padding: 20px 10px;
        }
        .title-box {
          position: relative;
          width: 100%;
        }
        .underline {
          border-bottom: 2px solid $light-gray;
          display: block;
          position: absolute;
          width: 100%;
          left: 0;
          top: 40px;
          @media screen and (max-width: $tablet) {
            top: 38px;
          }
        }
        h3 {
          font-size: 18px;
          line-height: 22px;
          text-transform: capitalize;
          font-weight: 500;
          position: absolute;
          top: 0;
          left: 0;
          display: table-cell;
          border-bottom: 2px solid $purple;
          margin: 0;
          padding-bottom: 18px;
          @media screen and (max-width: $tablet) {
            font-size: 16px;
            line-height: 20px;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          padding-top: 20px;
          li {
            cursor: pointer;
            font-size: 14px;
            line-height: 22px;
            @media screen and (max-width: $tablet) {
              font-size: 12px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }

  .logo-list{
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 15px 35px;
    @media screen and (max-width: $tablet) {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 100%;
    }
    img {
      width: 30%;
      max-width: 120px;
      padding-left: 20px;
    }
    @media screen and (max-width: $tablet) {
      padding-left: 0;
    }
  }


  .content-right{
    position: absolute;
    width: 25%;
    max-width: 340px;
    right: 0;
    top: 30%;
    font-size: 14px;
    line-height: 18px;
    @media screen and (max-width: $tablet) {
      position: inherit;
      width: 90%;
      margin: 0 auto;
      max-width: 100%;
      padding: 20px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
    }
    .location-cursor {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      max-width: 180px;
      color: $white;
      @media screen and (max-width: $tablet) {
        margin: 0;
      }
      i {
        font-size: 40px;
        position: relative;
        @media screen and (max-width: $tablet) {
          font-size: 30px;
        }
        img{
          position: absolute;
          left: 0;
          width: 100%;
          top: 7px;
        }
      }
      p {
        padding-left: 5px;
        margin: 25px 0px;
        @media screen and (max-width: $tablet) {
          font-size: 12px;
          margin: 20px 0px;
        }
      }
    }
    .location-detail-container {
      background: $white;
      margin-right: 10%;
      padding: 10px 15px;
      @media screen and (max-width: $tablet) {
        max-width: 220px;
        margin: 0;
        padding: 10px;
      }
      .location-city {
        margin: 0 0 10px;
        color: $orange;
        strong{
          text-transform: uppercase;
        }
      }
      p {
        margin: 0;
        @media screen and (max-width: $tablet) {
          font-size: 12px;
        }
      }
    }
  }
}
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  background-color: $dark-gray;
  color: $white;
  font-size: 13px;
  line-height: 16px;
  @media screen and (max-width: $tablet) {
    font-size: 12px;
    padding: 5px 10px;
    display: block;
  }
  .credits {
    color: $gray;
    width: 30%;
    @media screen and (max-width: $tablet) {
      width: 100%;
      text-align: center;
      margin: 5px 0px;
    }
  }
  .footer-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 50%;
    @media screen and (max-width: $tablet) {
      width: 100%;
      text-align: center;
    }
    a {
      color: inherit;
      text-decoration: none;
      padding: 0 5px;
      @media screen and (max-width: $tablet) {
        padding: 0 3px;
      }
    }
  }
  .agence {
    width: 20%;
    font-family: $second-font;
    color: $gray;
    text-align: right;
    font-size: 12px;
    line-height: 24px;
    font-family: "Georgia";
    font-weight: bold;
    font-style: italic;
    @media screen and (max-width: $tablet) {
      width: 100%;
      text-align: center;
      margin: 5px 0px;
    }
  }
}




