@import './reset.css';
@import './components/navbar.css';
@import './components/dropdown.css';
@import './components/header.css';


:root {
    --font-text: 'Source Sans Pro', sans-serif;
    --font-title: 'Helvetica', sans-serif;

    --phone: 600px;
    --tablet: 768px;
    --desktop: 992px;
    --lg-desktop: 1200px;

    --black: #6c6c6c;
    --white: #ffffff;
    --brown: #d78e63;
    --blue: #51b1e0;
    --green: #016742;
    --light-green: #21912b;

    --navbar-size: 50px;
}


.home-container {
    max-width: 1600px;
    width: 100vw;
    height: 4000px;
    position: relative;
    margin: 0 auto;
}



